Node-Red Code/Covid19 Node-Red Code.json
[{"id":"fc8e3ab.26e35c8","type":"tab","label":"Voice Enabled COVID Chatbot","disabled":false,"info":""},{"id":"acc63e7a.3ad2","type":"debug","z":"fc8e3ab.26e35c8","name":"","active":true,"console":"false","complete":"false","x":930,"y":320,"wires":[]},{"id":"8c0bce5e.7e787","type":"switch","z":"fc8e3ab.26e35c8","name":"Intents","property":"payload.intents[0].intent","propertyType":"msg","rules":[{"t":"eq","v":"USinfectionlevel","vt":"str"},{"t":"eq","v":"How_many_cases","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":250,"y":320,"wires":[["1daf1bca.249c04"],["8d89921b.5aebc"],["6c56e223.3fb56c"]]},{"id":"b4c48f28.5e1a","type":"comment","z":"fc8e3ab.26e35c8","name":"Reply to the user","info":"","x":1160,"y":340,"wires":[]},{"id":"7121ee94.6c456","type":"change","z":"fc8e3ab.26e35c8","name":"Pass the recorded transcript to Conversation","rules":[{"t":"set","p":"payload","pt":"msg","to":"transcription","tot":"msg"},{"t":"set","p":"chatstart","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":100,"wires":[["2fccf49b.c203cc","2f2c0a1c.18f686"]]},{"id":"543d3724.5c2ba8","type":"watson-text-to-speech","z":"fc8e3ab.26e35c8","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_MichaelVoice","voicehidden":"en-US_MichaelVoice","format":"audio/wav","password":"","apikey":"i7jXcy58Y4poDDUVsslFQKJ_PD-0G1ohY-Pp-GXGEA4C","payload-response":true,"service-endpoint":"","x":940,"y":380,"wires":[["4edee822.f1e078"]]},{"id":"4ea8a0d8.1a2f5","type":"debug","z":"fc8e3ab.26e35c8","name":"","active":true,"tosidebar":true,"console":false,"complete":"transcription","x":530,"y":60,"wires":[]},{"id":"33a87a53.481976","type":"debug","z":"fc8e3ab.26e35c8","name":"","active":true,"console":"false","complete":"false","x":650,"y":460,"wires":[]},{"id":"6c56e223.3fb56c","type":"function","z":"fc8e3ab.26e35c8","name":"Watson Conversation Reply","func":"function createTextLinks(text) {\n\n  return (text || \"\").replace(\n    /([^\\S]|^)(((https?\\:\\/\\/)|(www\\.))(\\S+))/gi,\n    function(match, space, url){\n      var hyperlink = url;\n      if (!hyperlink.match('^https?:\\/\\/')) {\n        hyperlink = 'http://' + hyperlink;\n      }\n      return space + '<a href=\"' + hyperlink + '\">' + url + '</a>';\n    }\n  );\n}\n\nvar response = \"\"\n\nfor(i=0;i<msg.payload.output.generic.length;i++) {\n  response = response + msg.payload.output.generic[i].text ;\n}\n\nresponse = createTextLinks(response);\n\n// The news reports will have \\n, replace with breaks\nmsg.payload = response.replace(/(?:\\r\\n|\\r|\\n)/g, '<br />');\n\n// The news reports will have http: links. Make them \n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":320,"wires":[["acc63e7a.3ad2","2fccf49b.c203cc","543d3724.5c2ba8"]]},{"id":"4edee822.f1e078","type":"play audio","z":"fc8e3ab.26e35c8","name":"","x":1150,"y":380,"wires":[]},{"id":"2f2c0a1c.18f686","type":"watson-conversation-v1","z":"fc8e3ab.26e35c8","name":"","workspaceid":"ef904f81-20d6-4c80-aa77-57c72f5d3128","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"","timeout":"","optout-learning":false,"x":920,"y":100,"wires":[["adafaf99.0d4af","57a4a492.8c4dac"]]},{"id":"adafaf99.0d4af","type":"debug","z":"fc8e3ab.26e35c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1150,"y":100,"wires":[]},{"id":"2d524760.75f518","type":"function","z":"fc8e3ab.26e35c8","name":"Total Confirmed Cases","func":"msg.payload = \"Worldwide, there have been \"+msg.payload.Global.TotalConfirmed+\" total confirmed cases of COVID-19\"\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":500,"wires":[["543d3724.5c2ba8","f6a62cad.04ad1","2fccf49b.c203cc"]]},{"id":"8d89921b.5aebc","type":"http request","z":"fc8e3ab.26e35c8","name":"Summary - Covid-19","method":"GET","ret":"obj","paytoqs":false,"url":"https://api.covid19api.com/summary","tls":"","persist":false,"proxy":"","authType":"","x":440,"y":500,"wires":[["2d524760.75f518","33a87a53.481976"]]},{"id":"f6a62cad.04ad1","type":"debug","z":"fc8e3ab.26e35c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":460,"wires":[]},{"id":"37091299.1619ee","type":"watson-speech-to-text","z":"fc8e3ab.26e35c8","name":"","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"en-US","langhidden":"","langcustom":"NoCustomisationSetting","langcustomhidden":"NoCustomisationSetting","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"NjLE0FbUY6kU-EP04TPgWCdmLw2AHNr3SAuF0GRfyKap","payload-response":false,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"","x":300,"y":100,"wires":[["4ea8a0d8.1a2f5","7121ee94.6c456"]]},{"id":"55bd3f28.cf064","type":"ui_template","z":"fc8e3ab.26e35c8","group":"65638bb5.46df9c","name":"Chat History","order":0,"width":"10","height":"15","format":"<div id=\"{{'my_'+$id}}\" style=\"{{'color:'+theme.base_color}}\"></div>\n<script>\n(function(scope) {\n  scope.$watch('msg', function(msg) {\n    if (msg) {\n      // Render the chatbot table when msg arrives\n      $(\"#my_\"+scope.$id).html(msg.payload);\n      // scroll to Bottom\n      var elmnt = document.getElementById(\"chatbot\");\n      elmnt.scrollIntoView(false);\n    }\n  });\n})(scope);\n</script>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1150,"y":240,"wires":[[]]},{"id":"2fccf49b.c203cc","type":"function","z":"fc8e3ab.26e35c8","name":"Build Chat table","func":"var chathistory = flow.get(\"history\")||[];\nvar chatstart = flow.get(\"chatstart\");\nvar who;\n\nif( typeof(chatstart) == 'undefined' ) { chatstart = true ; }\nif(chatstart===true) {\n    who = \"Q\";\n} else {\n    who = \"A\";\n}\n\nvar newchatentry = {\"who\":\"\",\"text\":\"\"};\nif( chathistory.length === 0 ) {\n    // First chat, init the table\n    newchatentry = {\"who\":\"A\",\"text\":\"Hello, I’m the COVID Crisis Communication Bot ready to answer your questions about COVID-19. How can I help you?\"};\n\n    // Add the question, if its not a Clear Chat button press\n    if( msg.payload.length ) { \n        chathistory.push(newchatentry);\n        newchatentry = {\"who\":\"Q\",\"text\":msg.payload}; \n    }\n} else {\n    newchatentry = {\"who\":who,\"text\":msg.payload};\n}\nchathistory.push(newchatentry);\n\nmsg.payload=\"<style>\";\nmsg.payload=msg.payload+\"table { width: 488px; margin-top: 10px; }\";\nmsg.payload=msg.payload+\"tr:nth-child(even){background-color: #f2f2f2;}\";\nmsg.payload=msg.payload+\"th, td { padding: 8px; text-align: left; border-bottom: 1px solid #ddd; width: 10%;}\";\nmsg.payload=msg.payload+\"</style>\";\n\nmsg.payload=msg.payload+\"<table id=\\\"chatbot\\\" span=100%><tr><th>Chat History</th></tr>\";\nfor( i = 0; i < chathistory.length; i++ ) {\n    if( chathistory[i].who == \"Q\" ) {\n        msg.payload = msg.payload + \"<tr><td><p style=\\\"text-align:right;\\\">\"+chathistory[i].text+\"</p></td></tr>\" ;\n    } else {\n        msg.payload = msg.payload + \"<tr><td><p style=\\\"text-align:left;background-color:#f2f2f2;\\\">\" +chathistory[i].text+\"</p></td></tr>\" ;\n    }\n}\n\nmsg.payload = msg.payload + \"</table>\";\nflow.set(\"chatstart\",false);\nflow.set(\"history\",chathistory);\nreturn msg;\n","outputs":1,"noerr":0,"x":940,"y":220,"wires":[["55bd3f28.cf064","991ec1c7.454fc"]]},{"id":"991ec1c7.454fc","type":"debug","z":"fc8e3ab.26e35c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1150,"y":200,"wires":[]},{"id":"598deddf.6579a4","type":"inject","z":"fc8e3ab.26e35c8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Clear Chat","payload":"true","payloadType":"bool","x":120,"y":240,"wires":[["8f5d14a0.0d5498"]]},{"id":"8f5d14a0.0d5498","type":"change","z":"fc8e3ab.26e35c8","name":"delete history","rules":[{"t":"delete","p":"history","pt":"flow"},{"t":"set","p":"chatstart","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":220,"wires":[["2fccf49b.c203cc"]]},{"id":"47252924.a45128","type":"ui_button","z":"fc8e3ab.26e35c8","name":"","group":"7fa34511.0a7d64","order":7,"width":"6","height":"1","passthru":false,"label":"Clear Chat","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":200,"wires":[["8f5d14a0.0d5498"]]},{"id":"58707b20.b7d4e4","type":"ui_microphone","z":"fc8e3ab.26e35c8","name":"","group":"7fa34511.0a7d64","order":6,"width":0,"height":0,"maxLength":"5","maxRecogLength":"","timeslice":0,"press":"click","mode":"audio","interimResults":false,"x":110,"y":100,"wires":[["37091299.1619ee"]]},{"id":"57a4a492.8c4dac","type":"function","z":"fc8e3ab.26e35c8","name":"","func":"if( typeof msg.payload.intents != 'undefined') {\n    if( msg.payload.intents.length > 0 ) {\n        if( typeof msg.payload.intents[0].intent!= 'undefined') {\n            return [msg, null];\n        }\n    }\n}\nmsg.payload = \"Sorry, the chat bot did not understand the question.\";\nreturn [null,msg];","outputs":2,"noerr":0,"x":110,"y":360,"wires":[["8c0bce5e.7e787"],["543d3724.5c2ba8"]]},{"id":"60b284df.6c069c","type":"ui_gauge","z":"fc8e3ab.26e35c8","name":"","group":"7fa34511.0a7d64","order":2,"width":3,"height":3,"gtype":"gage","title":"Total Confirmed Cases","label":"","format":"{{value}}","min":0,"max":"2000000","colors":["#ca3838","#ca3838","#ca3838"],"seg1":"","seg2":"","x":1060,"y":600,"wires":[]},{"id":"c83d79fe.8e46c8","type":"inject","z":"fc8e3ab.26e35c8","name":"Hourly updates","repeat":"","crontab":"0 0 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":760,"wires":[["6c8a4d88.9f3f64"]]},{"id":"6c8a4d88.9f3f64","type":"http request","z":"fc8e3ab.26e35c8","name":"Data summary from covid19api","method":"GET","ret":"obj","paytoqs":false,"url":"https://api.covid19api.com/summary","tls":"","persist":false,"proxy":"","authType":"","x":510,"y":720,"wires":[["ac664a9.82971b8","4643c796.291868","f7af52aa.a38b9","5ab4b962.0e55b8","7a395e15.f2a28"]]},{"id":"3c7001a8.cd197e","type":"ui_gauge","z":"fc8e3ab.26e35c8","name":"","group":"7fa34511.0a7d64","order":4,"width":3,"height":3,"gtype":"gage","title":"Total Deaths","label":"","format":"{{value}}","min":0,"max":"100000","colors":["#c13421","#d40015","#ca3838"],"seg1":"","seg2":"","x":1030,"y":660,"wires":[]},{"id":"48e68f38.0f435","type":"ui_gauge","z":"fc8e3ab.26e35c8","name":"","group":"7fa34511.0a7d64","order":3,"width":3,"height":3,"gtype":"gage","title":"Total Recovered","label":"","format":"{{value}}","min":0,"max":"1000000","colors":["#c22f0c","#e6e600","#00be00"],"seg1":"","seg2":"","x":1040,"y":720,"wires":[]},{"id":"3869849a.c5f72c","type":"ui_gauge","z":"fc8e3ab.26e35c8","name":"","group":"7fa34511.0a7d64","order":1,"width":3,"height":3,"gtype":"gage","title":"Total Countries","label":"","format":"{{value}}","min":0,"max":"250","colors":["#ee7b00","#e43135","#f23030"],"seg1":"","seg2":"","x":1040,"y":780,"wires":[]},{"id":"7a395e15.f2a28","type":"function","z":"fc8e3ab.26e35c8","name":"Total Countries","func":"totalCountries = 0;\n\nmsg.payload.Countries.map(function(line){\n    totalCountries += 1;\n});\n\nmsg.payload = totalCountries;\n\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":780,"wires":[["3869849a.c5f72c"]]},{"id":"e4d2234d.20dfc","type":"trigger","z":"fc8e3ab.26e35c8","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"1","extend":false,"units":"s","reset":"","bytopic":"all","outputs":1,"x":260,"y":680,"wires":[["6c8a4d88.9f3f64"]]},{"id":"ba52c649.b995e8","type":"ui_ui_control","z":"fc8e3ab.26e35c8","name":"","events":"change","x":100,"y":680,"wires":[["e4d2234d.20dfc"]]},{"id":"ac664a9.82971b8","type":"debug","z":"fc8e3ab.26e35c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":840,"wires":[]},{"id":"c714c6ef.3963b8","type":"comment","z":"fc8e3ab.26e35c8","name":"https://covid19api.com/","info":"","x":480,"y":680,"wires":[]},{"id":"4be0e90d.187a38","type":"comment","z":"fc8e3ab.26e35c8","name":"Refresh the dashboard","info":"","x":220,"y":720,"wires":[]},{"id":"4643c796.291868","type":"change","z":"fc8e3ab.26e35c8","name":"Total Confirmed Cases","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Global.TotalConfirmed","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":600,"wires":[["60b284df.6c069c"]]},{"id":"bf4d8566.1e0ce8","type":"function","z":"fc8e3ab.26e35c8","name":"US Confirmed Cases","func":"let totalConfirmedCase = 0;\nlet countryName = \"\";\n\nmsg.payload.Countries.map(function(line){\n  if (line.CountryCode === 'US'){\n      totalConfirmedCase = line.TotalConfirmed;\n      countryName = line.Country;\n  }\n});\n\nmsg.payload = \"The \" + countryName + \" has \" + totalConfirmedCase + \" total confirmed cases of COVID-19\"\n\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":420,"wires":[["543d3724.5c2ba8","2fccf49b.c203cc","f6a62cad.04ad1"]]},{"id":"1daf1bca.249c04","type":"http request","z":"fc8e3ab.26e35c8","name":"Summary - Covid-19","method":"GET","ret":"obj","paytoqs":false,"url":"https://api.covid19api.com/summary","tls":"","persist":false,"proxy":"","authType":"","x":440,"y":420,"wires":[["bf4d8566.1e0ce8","33a87a53.481976"]]},{"id":"f7af52aa.a38b9","type":"change","z":"fc8e3ab.26e35c8","name":"Total Fatalities","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Global.TotalDeaths","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":660,"wires":[["3c7001a8.cd197e"]]},{"id":"5ab4b962.0e55b8","type":"change","z":"fc8e3ab.26e35c8","name":"Total Recovered","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Global.TotalRecovered","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":720,"wires":[["48e68f38.0f435"]]},{"id":"65638bb5.46df9c","type":"ui_group","name":"Chat","tab":"cffac7b6.1e36","order":2,"disp":true,"width":"10","collapse":false},{"id":"7fa34511.0a7d64","type":"ui_group","name":"Record","tab":"cffac7b6.1e36","order":1,"disp":true,"width":"6","collapse":false},{"id":"cffac7b6.1e36","type":"ui_tab","name":"COVID Voice Chatbot","icon":"dashboard","disabled":false,"hidden":false}]